:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}
header ul {
  background-color: rgb(254, 254, 254);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  align-items: center;
  list-style-type: none;
}
a:link {
  text-decoration: none;
  color: black;
}
a:visited {
  color: black;
}
a:hover {
  color: blue;
  text-decoration: underline;
}

.git {
  display: none;
}
header li {
  padding: 0.5em;

  justify-content: space-between;
}
header {
  box-shadow: lightgrey;
}

.bigimg {
  border: solid lightgrey 0.1em;
  border-radius: 1em;
  margin: 1em;
}
.littleimg {
  height: 2em;
  width: 2em;
  align-content: center;
  padding: 1em;
}

main {
  border-top: 1.5em solid lightgrey;
}

main,
ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
main ul {
  justify-content: space-between;
}

main li {
  display: flex;
  justify-content: center;

  list-style-type: none;
}
@media screen and (min-width: 800px) {
  .git {
    display: block;
  }
  .bigimg {
    height: 15em;
    width: 15em;
  }
li {
  display: flex;
}
}